body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto; 
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}
        
    li {
        background-color: #87CEEB;
    }
    
    header{
        background-color: #87CEEB;
    }
    
    #nav-wrapper{
        background-color: #87CEEB;
    }
    