<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
      <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right">
                        <li>
                            
                            <ul id="dropdown2" class="dropdown-content">
                                <li><a href="index.html">Home<span class="new badge">5</span></a></li>
                        <li><a href="admin.html">Admin</a></li>
                            </ul>
                            <a class="btn dropdown-button btn" href="#!" data-activates="dropdown2">side menu<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="container">
                <p><a href="#">Back to the Top</a></p>
                <a href="mailto:mihalidieguez@gmail.com?subject=Suggestions for my website">Click here to contact me</a>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Mihali
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/Blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
           
          {{#each posts}}
          <div class="chip">
            <img src="images/PEPE.jpg" alt="Contact Person">
            Mihali Dieguez
            </div>
            <div class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
            <div>{{{content}}}</div>
            </div>
          {{/each}}
      </script>
    </body>
  </html>
        